body {
  font-family: Arial, Helvetica, sans-serif;
}

.badge {
  padding: 6px 8px;
  border-radius: 5px;
  text-decoration: none;
}

.input-form {
  padding: 8px 12px;
  border-radius: 5px;
}

.button {
  padding: 8px 12px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.green {
  background-color: green;
  color: white;
}

.grey {
  background-color: grey;
  color: white;
}

.yellow {
  background-color: yellow;
  color: black;
}

.red {
  background-color: red;
  color: white;
}
